__pycache__
Building_your_Deep_Neural_Network_Step_by_Step (1).ipynb
Deep Neural Network - Application (1).ipynb
functiii.py
Logistic_Regression_with_a_Neural_Network_mindset.ipynb
mnist-original.mat
Planar_data_classification_with_one_hidden_layer.ipynb
proiectel.py
Python_Basics_with_Numpy.ipynb
test.py
Valori_w_si_b\copy.txt
